.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.form input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 8px;
  border: 1px solid #bdbdbd;
  margin-bottom: 1rem;
}
.form input[type='submit'] {
  background: #2f80ed;
  height: 38px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.form input[type='submit']:hover {
  background: #0565e3;
  font-size: 1.1rem;
}
.form p {
  color: red;
}
